.cardPost{
    height: 186px;
    width: 676.266px;
    padding: 20px;
    background-color: white;
}

.imgPost{
    background-image: url("https://dev-to-uploads.s3.amazonaws.com/uploads/articles/xsfedpmjdloalsc1hqsc.png");
    background-repeat: no-repeat;
    background-size: 676.266px 283.266px;
    display: block;
    width: 676.266px;
    height: 273.286px;
    margin: 0px;  
}

.profileImg{
    
        background-size: 35px 35px;
        display: block;
        width: 35px;
        height: 35px;
        margin: 0px;   
        border-radius: 50%;
}

.imgDev{
    background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--pcSkTMZL--/c_limit,f_auto,fl_progressive,q_80,w_190/https://practicaldev-herokuapp-com.freetls.fastly.net/assets/devlogo-pwa-512.png");
    background-repeat: no-repeat;
    background-size: 44.8125px 44.8125px;
    display: block;
    width: 60.8125px;
    height: 44.8125px;
    margin: 0px;  
    -webkit-transform:rotate(355deg);
    -moz-transform: rotate(355deg);
    -ms-transform: rotate(355deg);
    -o-transform: rotate(355deg);
    transform: rotate(355deg);
    border-radius: 5px;
}

.navBar{
    display: flex;
    flex-direction: row;
}

.flexRow{
    display: flex;
    flex-direction: row;
}

.barSear{
    width: 300px;
    border-radius: 5px;
    border: 1px solid #dfe1e5;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconSear{
    background-image: url("https://img.icons8.com/external-dreamstale-lineal-dreamstale/32/000000/external-search-ui-dreamstale-lineal-dreamstale.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

.main{
    margin-top: 80px; 
    margin-left: 312.5px; 
    
}

.buttonHover:hover {
    background-color: rgb(224, 225, 241);
}

.buttonHover:hover > .textHover {
    color: rgb(42, 48, 165);
    text-decoration: underline;

}

.inputSearch {
    margin-right: 1px;
    font-size: 18px;
    font-weight: 300;
    border: 1px solid grey;
    width: 402px;
    color: black;
    padding: 4px 4px 4px 29px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/0b/Search_Icon.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
}

.grayTextColor {
    color: #404040;
}
.linksColored {
    color: rgb(62, 73, 215);
    text-decoration: none;
}
.titleLink {
    text-decoration: none;
    color: #000000;
}
.titleLink:hover {
    color: rgb(49, 58, 171)
}

.buttonAuthor {
    color: rgb(61, 61, 61)
}
.buttonAuthor:hover {
    color: #000000;
    background-color: rgb(225, 225, 225);
}

.buttonTags {
    color: rgb(61, 61, 61);
    font-size: small;
}
.buttonTags:hover {
    color: rgb(25, 25, 25);
    background-color: rgb(243, 243, 243);
    outline: solid 1px rgb(227, 227, 227);
}
.buttonSave {
    background-color: rgb(214, 214, 215);
    color: rgb(61, 61, 61);
}
.buttonSave:hover {
    background-color: rgb(189, 189, 189);
    color: #000000;
}

.cardSmallText {
    font-size: small;
}

.listings {
    background-color: rgb(250, 250, 250);
    color: #404040;
}
.listings:hover {
    background-color: #fff;
    color: rgb(42, 48, 165);
}

@media (max-width: 1025px ){
    #aside, #col3Post{
        display: none;
    }
}

@media (max-width: 767px ){
    #navL, #reactions{
        display: none;
    }
}
